<div class="category">
    <h1>Add Category</h1>
    <form method="post" action="/categories/save">
        <input type="text" class="input-title" name="title" placeholder="define you title"><br>
        <button class="btn-send">Add Category</button>
        <a href="/admin/categories"><button type="button" class="btn">Cancel</button></a>
    </form>
</div>