<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>
    <nav class="menu">
        <ul>
            <a href="/"><li>Home Page</li></a>
            <a href="/articles"><li>Articles</li></a>
            <a href="/admin/categories"><li>Category</li></a>            
            <a href="/about"><li>About</li></a>
        </ul>
    </nav>
</header>