<link rel="stylesheet" type="text/css" href="/css/header.css">

<header>
    <nav class="menu">
        <ul>
            <a href="/"><li>Home Page</li></a>
            <a href="/signin"><li>SignIn</li></a>
            <a href="/about"><li>About</li></a>
        </ul>
    </nav>
</header>