<link rel="stylesheet" type="text/css" href="/css/nextPage.css">

<div class="row-next">
    <% if(result.nextPage){ %>
        <a href="/articles/pagination/<%= result.currentPage + 1 %>">Next Page &raquo;</a>
    <% } %>
</div>


<div class="row-preview round">
    <% if(result.currentPage > 2){ %>
        <a href="/articles/pagination/<%= result.currentPage - 1 %>">&laquo; Previous</a>
    <%} else if (result.currentPage == 2){ %>
        <a href="/">&laquo; Home</a>       
    <% } %>
</div>