<div>
    <div class="main"></div>
        <div class="main-header">
            <h1><%= reading.title %></h1>
        </div>    
        <div class="read-message">
            <p><%- reading.message %></p>
        </div>
    </div>
</div>