<link rel="stylesheet" type="text/css" href="/css/register.css">

<form method="post" action="/account/save">
    <label>User Name</label><br>
    <input name="username" minlength="5" maxlength="30" type="text">
    <label>Password</label><br>
    <input name="password" minlength="6" maxlength="15" type="password">
    <label>Confim Password</label><br>
    <input name="confirmpwd" minlength="6" maxlength="15" type="password">
    <button> Register </button>
</form>
