<link rel="stylesheet" type="text/css" href="/css/signin.css">

<form>
    <label>User Name</label><br>
    <input type="text"><br>
    <label>Password</label><br>
    <input type="password"><br>
    <button> Login </button>
</form>
<cite><p>if you don't have an account <a href="/register" >click here</a> </p></cite>
