<link rel="stylesheet" type="text/css" href="/css/signout.css">

<form>
    <label>User Name</label><br>
    <input name="username" type="text">
    <label>Password</label><br>
    <input name="password" type="password">
    <label>Confim Password</label><br>
    <input name="cpwd" type="password">
    <button> Register </button>
</form>