<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>

<body>
    <%- include ('components/header.ejs') %>
    <div class="about-title">
        <h1>About Us</h1>
    </div>

    <main>
        <div class="about-us">
            <p>
                Lorem ipsum arcu luctus tortor at suscipit pharetra sollicitudin nibh interdum scelerisque, augue lacus est sed duis fames tristique in porttitor sem quisque euismod, hendrerit enim viverra himenaeos eros purus malesuada nibh dictumst est. 
                quis velit malesuada ipsum cubilia lacus arcu nisl, nostra class hac nibh vivamus posuere, senectus pretium metus fermentum purus netus. 
                odio sem quam curabitur at sapien interdum posuere, etiam accumsan euismod aliquam arcu sollicitudin, integer fermentum dolor platea suscipit ad. 
                metus vitae cubilia tincidunt purus lectus cursus potenti, turpis augue pretium interdum volutpat amet hac elementum, morbi enim litora at purus auctor. 
                </p>
                <p>
                Scelerisque faucibus velit scelerisque mauris tristique nulla erat habitant sagittis, accumsan ipsum hendrerit volutpat habitasse senectus urna nunc ad, orci vivamus curabitur leo quam eros blandit class. 
                aenean volutpat euismod himenaeos consectetur lobortis augue commodo dapibus vulputate, praesent interdum elementum nam mauris porttitor nam diam, vestibulum ut eu inceptos nibh aliquet adipiscing tortor. 
                lorem dui viverra aptent morbi risus sed at ad, posuere scelerisque himenaeos nibh ullamcorper maecenas nullam netus, aptent molestie interdum himenaeos potenti amet curabitur. 
                suspendisse cursus metus suscipit pellentesque phasellus mi consectetur, ac habitasse lacus hendrerit sociosqu consectetur, integer metus tellus cras lectus fermentum. 
                </p>
                <p>
                Lorem nullam proin mi duis inceptos consequat, malesuada inceptos nunc ultrices quis libero, imperdiet vitae malesuada lacinia aenean. 
                metus hendrerit litora placerat varius sit malesuada arcu lectus adipiscing mattis quisque etiam fermentum, dictum orci luctus nulla felis consequat taciti est tempus sem tristique. 
                ullamcorper eros molestie sem malesuada condimentum tempus at, consectetur pulvinar fermentum netus curabitur massa aliquam, eu justo hendrerit aliquet mauris rutrum. 
                potenti dolor netus porttitor tristique pulvinar egestas vivamus imperdiet integer arcu enim, potenti aliquet torquent aptent pretium facilisis quisque commodo convallis. 
                quam fames mauris fermentum dictumst suspendisse ac, vulputate enim sit neque nisi, non convallis facilisis bibendum senectus. 
                </p>
                <p>
                Vivamus libero tristique lorem proin mi mattis, netus malesuada diam senectus venenatis eget ultricies, fames aliquam quisque nunc vivamus. 
                felis facilisis aenean dictum aenean lacus sodales at vitae commodo neque id habitant consequat habitant iaculis fermentum, auctor risus urna erat hac viverra vel diam sem luctus odio dolor risus pretium integer. 
                aenean augue phasellus taciti augue etiam varius bibendum aenean malesuada sed, urna sollicitudin vulputate mi donec ullamcorper urna porta nunc libero, justo eleifend fermentum commodo vitae platea semper dictumst ut. 
                condimentum purus sapien vitae a facilisis conubia auctor laoreet sapien, magna etiam a amet per sodales ullamcorper tristique ut id, tellus lacinia aliquam habitant class duis tellus erat. 
                </p>
                <p>
                Interdum neque et euismod praesent habitasse nunc phasellus fames suscipit ac, semper vitae donec nisi non vel in dapibus id, aliquam condimentum hac viverra ac nunc vulputate dui mollis. 
                luctus accumsan nulla cursus curae cubilia a et, suscipit imperdiet senectus sagittis quisque feugiat, in lacinia aenean donec cursus erat. 
                lobortis sed eros aliquet volutpat at odio torquent in at consequat, pulvinar vehicula tincidunt bibendum hac donec ac bibendum. 
                etiam habitasse etiam senectus nisl mauris eu mattis diam, conubia neque egestas nulla quisque placerat aliquam sollicitudin, posuere nibh molestie dictum et suspendisse scelerisque. 
                </p>
                <p>
                Bibendum duis rutrum, placerat. 
                </p>
        </div>
    </main>

</body>
</html>