<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/nextPage.css">
</head>
<body>
    <%- include ('components/header.ejs') %>
    <%- include ('components/title.ejs') %>
    <%- include ('components/searchCategories.ejs') %>
    <%- include ('components/showArticles.ejs') %>
    
    <div class="row-next">
        <a href="/articles/pagination/2">Next Page &raquo;</a>
    </div>

    
</body>
</html>