<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" type="text/css" href="/views/admin/css/category.css">
</head>
<body>
    <%- include ('../../../components/header.ejs') %>    
    <div class="category">
        <h1>Add Category</h1>
        <form method="post" action="/categories/save">
            <input type="text" class="input-title" name="title" placeholder="define you title"><br>
            <button class="btn-send">Add Category</button>
        </form>
    </div>
    
    
</body>
</html>